.hero-banner__container {
  position: relative;
  overflow-x: hidden;
}
.hero-banner-img {
  width: 100%;
}
.hero-banner__content {
  position: absolute;
  top: 70px;
  left: 10%;
  display: flex;

  z-index: 20;
}
.careers-location {
  column-gap: 877px;
}
.hero-banner__content h1 {
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  .hero-banner__content {
    top: 40px;
  }
  .careers-location {
    column-gap: 497px;
  }
}
@media only screen and (max-width: 768px) {
  .hero-banner__content {
    top: 65px;
  }
  .careers-location {
    column-gap: 272px;
  }
}
@media only screen and (max-width: 425px) {
  .hb__content-img {
    display: none;
  }
  .hero-banner__content {
    top: 50px;
    left: 27%;
  }
}
@media only screen and (max-width: 320px) {
  .hero-banner__content {
    top: 35px;
    left: 20%;
  }
  .hero-banner__content ~ h1 {
    left: 10%;
  }
}
