.appSignUp-container {
  background-color: var(--primary-darkNavy);
  position: relative;
  overflow-x: hidden;
  margin-top: 160px;
}
.semi-circles {
  position: absolute;
  bottom: 0;
  right: -150px;
}
.appSignUp-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
  padding: 102px 0;
}
.appSignUp-content h2 {
  color: #fff;
  width: 450px;
}
.appSignUp-icons {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.apple-icon {
  width: 113px;
}
.google-icon {
  width: 130px;
}

@media only screen and (max-width: 768px) {
  .appSignUp-content {
    flex-direction: column;
    row-gap: 40px;
    text-align: center;
  }
  .appSignUp-content h2 {
    width: 450px;
  }
}
@media only screen and (max-width: 425px) {
  .appSignUp-content {
    margin: 0;
  }
  .appSignUp-content h2 {
    font-size: 32px;
    line-height: 32px;
    width: 300px;
  }
  .addSignUp-icons {
    column-gap: 10px;
  }
}
