.learn-more__container {
  margin: 100px 0;
  position: relative;
  overflow-x: hidden;
}
.circle-img-even {
  position: absolute;
  top: 40px;
  right: -340px;
}
.learn-more__content {
  margin: 50px 10% 30px;

  display: flex;
  align-items: center;
  column-gap: 183px;
}
.lm-even__content {
  width: 445px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.lm-content__img {
  border-radius: 50%;
  width: 100%;
}
.learn-more__arrow {
  position: absolute;
  top: 360px;
  right: 0;
}

@media only screen and (max-width: 1024px) {
  .learn-more__content {
    column-gap: 140px;
    margin-bottom: 140px;
  }
}

@media only screen and (max-width: 768px) {
  .learn-more__content {
    flex-direction: column-reverse;
    row-gap: 50px;
    text-align: center;
    align-items: center;
  }
  .learn-more__content button {
    align-self: center;
  }
}
@media only screen and (max-width: 425px) {
  .circle-img-even {
    display: none;
  }
  .learn-more__content {
    margin: 0 auto;
    width: 350px;
  }
  .learn-more__arrow {
    top: 190px;
    right: -390px;
  }
}
@media only screen and (max-width: 320px) {
  .learn-more__content {
    width: 180px;
  }
  .lm-even__content p {
    margin: 0 auto;
    width: 250px;
  }
  .learn-more__arrow {
    top: 50px;
    right: -480px;
  }
}
